@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);h1{font:400 2.8rem "pt sans", sans-serif;text-align:center;}
nav{z-index:600;height:70px;position:fixed;width:100%;}
nav a{text-decoration:none;}
nav > ul{position:relative;list-style:none;padding:0 10em 0 0;margin:0;float:right;}
nav > ul > li > ul{position:absolute;left:0;padding:0;margin:0;list-style:none;}
nav > ul > li:hover > ul li a{opacity:1;height:50px;transition:all 0.3s linear;-o-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
nav > ul > li > ul a{display:block;color:#222;width:150px;font:700 14px "pt sans", sans-serif;border-bottom:1px solid #ddd;text-align:center;padding:0 5px;height:0;overflow:hidden;opacity:0;transition:all 0.3s linear 0.2s;-o-transition:all 0.3s linear 0.2s;-moz-transition:all 0.3s linear 0.2s;-webkit-transition:all 0.3s linear 0.2s;}
.menu_item{line-height:70px;}
.sub-menu_item{line-height:50px;}
nav > ul > li{float:left;position:relative;}
nav > ul > li > a{padding:0 20px;display:block;font:400 15px "PT Sans", sans-serif;text-transform:uppercase;text-decoration:none;}
*{padding:0;margin:0;box-sizing:border-box;}
body{font-family:"Raleway", sans-serif;font-weight:normal;font-size:14px;min-width:320px;position:relative;line-height:1.42857;-webkit-font-smoothing:antialised;}
body input:focus:required:invalid, body textarea:focus:required:invalid{color:red;}
body input:required:valid, body textarea:required:valid{color:green;}
a,
a:hover{text-decoration:none;}
.centered-everywhere{top:50%;left:50%;margin-right:-50%;transform:translate(-50%, -50%);}
.centered-horizontal{top:50%;left:50%;margin-right:-50%;transform:translate(-50%, -50%);}
.clearboth{clear:both;}
.hidden{display:none;}
section, .main-head{position:relative;}
section{min-height:650px;height:100vh;text-align:center;overflow:hidden;}
section h3{font-family:"Oranienbaum", serif;display:inline-block;position:relative;text-align:center;padding:1.4rem 2rem;}
section p{text-align:center;padding:2rem;font-size:1.4rem;}
.main_head{width:100%;height:100vh;min-height:620px;}
.top_wrapper{display:table;width:100%;height:100vh;position:absolute;top:0;left:0;z-index:10;}
.top_wrapper .top_descr{display:table-row;}
.top_wrapper .top_descr .top_centered{display:table-cell;text-align:center;vertical-align:middle;}
.top_wrapper .top_descr .top_centered .top_text{display:block;display-margin:0;display-text-transform:uppercase;display-animation-delay:0.8s;display-background-color:rgba(0, 0, 0, 0.32);}
.top_wrapper .top_descr .top_centered .top_text h1{font-family:"Oranienbaum", serif;display:inline-block;padding:20px 0 20px 0;text-shadow:0 0 10px black;font-weight:700;font-size:2.7rem;}
.about-us{text-align:center;}
.about-us .products{margin:0;padding:0;width:100%;}
.about-us .products .product_item{font-family:"Oranienbaum", serif;position:relative;width:30%;min-height:12vmin;}
.about-us .products .product_item p{display:block;width:100%;padding:0;font-size:1.5rem;position:absolute;text-align:center;top:50%;left:50%;transform:translate(-50%, -50%);transition:all 1s ease;}
.about-us .products .product_item p:hover{transform:scale();}
.about-us .products .product_item img{width:100%;}
.advantages{display:block;}
.advantages .advantages_item{display:block;width:50%;min-height:23vmin;padding:1% 4% 1% 4%;position:relative;float:left;height:50px;}
.mail{font-size:1.2rem;}
.mail p{text-align:center;}
.mail-box{position:relative;width:65%;padding-bottom:1.4rem;box-shadow:0 0 35px black;}
.mail-box label{padding:1rem 0 0.7rem 0;}
.btn{position:relative;}
.main_footer{font-size:1.1em;padding:50px 0;}