$color: rgba(228,53,42,1) //Theme skin
$text_color: #888
$text_light: #FAFAFA
$main_color: #222
$bg_light: #FAFAFA
$bg_grey: rgba(184,183,179,1)

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)

a
	color: $text_light

nav
	background-color: $main_color

.menu_item,
.sub-menu_item
	&:hover
		color: $color

.sub-menu_item
	color: $text_color
	background-color: $bg_light

.top_text > h1

	+kerning(4)
	color: $text_light
	background: linear-gradient(to left, transparent 10%, rgba(0, 0, 0, 0.42), transparent)

section > h3
	padding-top: 3rem
	+kerning(4)
	border-bottom: 4px solid $color

.about-us
	background-color: $text_light

// .about-us
// 	p
// 		color: $text_light

.poducts
	background-color: $main_color

.product_item p
	background-color: rgba(34, 34, 34, 0.4)

.advantages_item:nth-child(2n)
	border-left: 2px solid $color

.advantages_item:nth-child(2n-1)
	border-right: 2px solid $color


form span
	color: $color

.mail-box
	background: url("../../img/wooden.jpg")
	label
		color: $text_light

.main_footer
	color: $text_light
	background-color: $main_color

.btn
	background-color: $main_color
	color: $text_light
	&:hover
		background-color: $bg_light
		color: $main_color

